// Place all the styles related to the Pledgeable controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  font-family: 'Nunito', sans-serif;
  color: black ;
}

h1 {
  font-weight: bolder;
  text-shadow: 2px 2px gray;
}

h2 {
  text-align: center;
}

p {
  font-size: 3vh !important;
  text-align: center;
}

.card-header {
  text-align: center;
}



@media only screen 
  and (min-device-width: 374px) 
  and (max-device-width: 812px) {

    h1 {
      font-size: 8vh !important;
    }

    h2 {
      font-size: 5vh;
      text-align: center;
    }

    p {
      font-size: 2vh !important;
    }

   .btn {
     transform: scale(1.3);
   }

}